.sider-container{
    width: 100%;
    .ant-menu-item-selected{
        background-color: #4b5275;
    }
    .ng-star-inserted{
        color: #fff !important;
    }
  
    .toggle-btn{
        float: right;
    }
}