<p>dashboard works!</p>

<a
  style="color: #ff0000"
  [routerLink]="['/m/a/profile']"
  routerLinkActive="router-link-active"
  >m~~a~~profile</a
>
<br />
<a
  style="color: red"
  [routerLink]="['/m/a/order']"
  routerLinkActive="router-link-active"
  >m~~a~~order</a
>
<br />
<a
  style="color: red"
  [routerLink]="['/m/b/art']"
  routerLinkActive="router-link-active"
  >m~~b~~art</a
>
<br />
<a
  style="color: red"
  [routerLink]="['/m/b/art']"
  routerLinkActive="router-link-active"
  >m~~b~~art</a
>
<br />
<a
  style="color: red"
  [routerLink]="['/b/art']"
  routerLinkActive="router-link-active"
  >b~~art</a
>
<br />
<a
  style="color: red"
  [routerLink]="['/a/order']"
  routerLinkActive="router-link-active"
  >a~~order</a
>
